<div class="row-fluid">
    <h1 class="span10">Summary Stats</h1>
</div>
<div class="view container-fluid well">
    <table class="table table-striped">
        <thead>
            <th>Tag</th>
            <th>Period</th>
            <th>Count</th>
            <th>Sum</th>
        </thead>
        <tbody id="Summarylist">
        </tbody>
    </table>
</div>
