<div class="row-fluid">
    <h1 class="span10">Activities</h1>
    <div class="span2">
        <button id="add_new" class="add-button btn-large btn-primary">Add Mode</button>
    </div>
</div>
<div id="add_area" class="row-fluid">
</div>
<div class="view container-fluid well">
    <table class="table table-striped">
        <thead>
            <th>Location</th>
            <th>Activity</th>
        </thead>
        <tbody id="Activitylist">
        </tbody>
    </table>
</div>
