<td>
    <%= date %>
</td>
<td>
    <%= vendor %>
</td>
<td>
    <%= amount %>
</td>
<td>
    <div class="grid-row btn-toolbar">
        <div class="grid-buttons btn-group">
            <button class="edit-button btn btn-large">Edit</button>
            <button class="remove-button btn btn-large">Remove</button>
        </div>
    <div>
</td>
